html
	head
		include template/head.pug
	body
		.statusBar
			.statusBar_button
		.swiper-container
			.swiper-wrapper
				#firstDragSlide.swiper-slide
					.desk(data-force='30')
						.desk__iconList
							mixin iconListCellMix(appLinkMix, appIconMix, appNameMix)
								.desk__iconListCell
									.desk__iconWrap
										a(href=`${appLinkMix}`)
											.desk__icon(class=`desk__icon_${appIconMix}`)
											.desk__iconNameWrap
												p.desk__iconName #{appNameMix}
							+iconListCellMix('https://www.youtube.com', 'facetime', 'Facetime')
							+iconListCellMix('https://www.youtube.com', 'calendar', 'Calendar')
							+iconListCellMix('https://www.youtube.com', 'photos', 'Photos')
							+iconListCellMix('https://www.youtube.com', 'camera', 'Camera')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'clock', 'Clock')
							+iconListCellMix('https://www.youtube.com', 'maps', 'Maps')
							+iconListCellMix('https://www.youtube.com', 'weather', 'Weather')
							+iconListCellMix('https://www.youtube.com', 'notes', 'Notes')
							+iconListCellMix('https://www.youtube.com', 'reminders', 'Reminders')
							+iconListCellMix('https://www.youtube.com', 'stocks', 'Stocks')
							+iconListCellMix('https://www.youtube.com', 'videos', 'Videos')
							+iconListCellMix('https://www.youtube.com', 'iTunesStore', 'iTunes Store')
							+iconListCellMix('https://www.youtube.com', 'appStore', 'App Store')
							+iconListCellMix('https://www.youtube.com', 'iBooks', 'iBooks')
							+iconListCellMix('https://www.youtube.com', 'health', 'Health')
							+iconListCellMix('https://www.youtube.com', 'home', 'Home')
							+iconListCellMix('https://www.youtube.com', 'wallet', 'Wallet')
							+iconListCellMix('https://www.youtube.com', 'settings', 'Settings')
							+iconListCellMix('https://www.youtube.com', 'phone', 'Phone')
							+iconListCellMix('https://www.youtube.com', 'safari', 'Safari')
							+iconListCellMix('https://www.youtube.com', 'messages', 'Messages')
							+iconListCellMix('https://www.youtube.com', 'appleMusic', 'Music')
							+iconListCellMix('https://www.youtube.com', 'news', 'News')
				#secondDragSlide.swiper-slide
					.desk(data-force='30')
						.desk__iconList
							mixin iconListCellMix(appLinkMix, appIconMix, appNameMix)
								.desk__iconListCell
									.desk__iconWrap
										a(href=`${appLinkMix}`)
											.desk__icon(class=`desk__icon_${appIconMix}`)
											.desk__iconNameWrap
												p.desk__iconName #{appNameMix}
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
				#thirdDragSlide.swiper-slide
					.desk(data-force='30')
						.desk__iconList
							mixin iconListCellMix(appLinkMix, appIconMix, appNameMix)
								.desk__iconListCell
									.desk__iconWrap
										a(href=`${appLinkMix}`)
											.desk__icon(class=`desk__icon_${appIconMix}`)
											.desk__iconNameWrap
												p.desk__iconName #{appNameMix}
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
							+iconListCellMix('https://www.youtube.com', 'mail', 'Mail')
		include template/scripts.pug