html
	head
		include template/head.pug
	body.animsition-overlay._bg_shore4(data-animsition-overlay="true" data-animsition-in-class="overlay-slide-in-top" data-animsition-in-duration="1000" data-animsition-out-class="overlay-slide-out-top" data-animsition-out-duration="800")
		#pagePreloader.preloader
			- var x = 4;
			.preloader__load
				- for (var i=1; i<=x; i++) {
					span.preloader__dot
				- }
		.statusBar
			.statusBar__network
				- var x = 5;
				.statusBar__cellularWrap
					- for (var i=1; i<=x; i++) {
						i.fas.fa-circle
					- }
				.statusBar__cellularNameWrap
					p.statusBar__cellularName AT&T
				.statusBar__wifiWrap
					i.fas.fa-wifi
			.statusBar__timeWrap
				p#timeDisplay.statusBar__time
			.statusBar__charge
				#fullscreenStatusBarButton.statusBar__fullscreenWrap
					i.fas.fa-arrows-alt
				.statusBar__chargeDigitWrap
					p#chargeDigitDisplay.statusBar__chargeDigit 83%
				.statusBar__batteryWrap
					i.fas.fa-battery-full
		.swiper-container
			.swiper-wrapper
				#firstDragSlide.swiper-slide
					.desk(data-force='30')
						.desk__iconList
							mixin iconListCellMix(appLinkMix, appIconMix, appNameMix)
								.desk__iconListCell
									.desk__iconWrap
										a.desk__appLink(href=`${appLinkMix}` data-animsition-out-class="overlay-slide-out-top" data-animsition-out-duration="1000")
											.desk__icon(class=`desk__icon_${appIconMix}`)
											.desk__iconNameWrap
												p.desk__iconName #{appNameMix}
							+iconListCellMix('app.html', 'facetime', 'Facetime')
							+iconListCellMix('app.html', 'calendar', 'Calendar')
							+iconListCellMix('app.html', 'photos', 'Photos')
							+iconListCellMix('app.html', 'camera', 'Camera')
							+iconListCellMix('app.html', 'mail', 'Mail')
							+iconListCellMix('app.html', 'clock', 'Clock')
							+iconListCellMix('app.html', 'maps', 'Maps')
							+iconListCellMix('app.html', 'weather', 'Weather')
							+iconListCellMix('app.html', 'notes', 'Notes')
							+iconListCellMix('app.html', 'reminders', 'Reminders')
							+iconListCellMix('app.html', 'stocks', 'Stocks')
							+iconListCellMix('app.html', 'videos', 'Videos')
							+iconListCellMix('app.html', 'iTunesStore', 'iTunes Store')
							+iconListCellMix('app.html', 'appStore', 'App Store')
							+iconListCellMix('app.html', 'iBooks', 'iBooks')
							+iconListCellMix('app.html', 'health', 'Health')
							+iconListCellMix('app.html', 'home', 'Home')
							+iconListCellMix('app.html', 'wallet', 'Wallet')
							+iconListCellMix('app.html', 'settings', 'Settings')
							+iconListCellMix('app.html', 'phone', 'Phone')
							+iconListCellMix('app.html', 'safari', 'Safari')
							+iconListCellMix('app.html', 'messages', 'Messages')
							+iconListCellMix('app.html', 'appleMusic', 'Music')
							+iconListCellMix('app.html', 'news', 'News')
				#secondDragSlide.swiper-slide
					.desk(data-force='30')
						.desk__iconList
							mixin iconListCellMix(appLinkMix, appIconMix, appNameMix)
								.desk__iconListCell
									.desk__iconWrap
										a.desk__appLink(href=`${appLinkMix}` data-animsition-out-class="overlay-slide-out-top" data-animsition-out-duration="1000")
											.desk__icon(class=`desk__icon_${appIconMix}`)
											.desk__iconNameWrap
												p.desk__iconName #{appNameMix}
							+iconListCellMix('app.html', 'appleWatch', 'Apple Watch')
							+iconListCellMix('app.html', 'contacts', 'Contacts')
							+iconListCellMix('app.html', 'findFriends', 'Find Friends')
							+iconListCellMix('app.html', 'findIPhone', 'Find iPhone')
							+iconListCellMix('app.html', 'garageBand', 'Garage Band')
							+iconListCellMix('app.html', 'healthBook', 'Health Book')
							+iconListCellMix('app.html', 'compass', 'Compass')
							+iconListCellMix('app.html', 'iBooks', 'iBooks')
							+iconListCellMix('app.html', 'iMovie', 'iMovie')
							+iconListCellMix('app.html', 'iPhoto', 'iPhoto')
							+iconListCellMix('app.html', 'iTunesRadio', 'iTunes Radio')
							+iconListCellMix('app.html', 'iTunesU', 'iTunes U')
							+iconListCellMix('app.html', 'music', 'Music')
							+iconListCellMix('app.html', 'passbook', 'Passbook')
							+iconListCellMix('app.html', 'photoBooth', 'Photo Booth')
							+iconListCellMix('app.html', 'podcats', 'Podcats')
							+iconListCellMix('app.html', 'tips', 'Tips')
							+iconListCellMix('app.html', 'youtube', 'You Tube')
							+iconListCellMix('app.html', 'calculator', 'Calculator')
							+iconListCellMix('app.html', 'trailers', 'Trailers')
							+iconListCellMix('app.html', 'voiceMemos', 'Voice Memos')
							+iconListCellMix('app.html', 'iCloudDrive', 'iCloud Drive')
							+iconListCellMix('app.html', 'trashEmpty', 'Trash Empty')
							+iconListCellMix('app.html', 'trashFull', 'Trash Full')
				#thirdDragSlide.swiper-slide
					.desk(data-force='30')
						.desk__iconList
							mixin iconListCellMix(appLinkMix, appIconMix, appNameMix)
								.desk__iconListCell
									.desk__iconWrap
										a.desk__appLink(href=`${appLinkMix}` data-animsition-out-class="overlay-slide-out-top" data-animsition-out-duration="1000")
											.desk__icon(class=`desk__icon_${appIconMix}`)
											.desk__iconNameWrap
												p.desk__iconName #{appNameMix}
							+iconListCellMix('app.html', 'controlCenter', 'Control Center')
							+iconListCellMix('app.html', 'gameCenter', 'Game Center')
							+iconListCellMix('app.html', 'iOS8', 'iOS 8')
							+iconListCellMix('app.html', 'multitaks', 'Multitaks')
							+iconListCellMix('app.html', 'newstand', 'Newstand')
							+iconListCellMix('app.html', 'notificationCenter', 'Notification Center')
							+iconListCellMix('app.html', 'SDK', 'SDK')
							+iconListCellMix('app.html', 'siri', 'Siri')
							+iconListCellMix('app.html', 'user', 'User')
							+iconListCellMix('app.html', 'documents', 'Documents')
							+iconListCellMix('app.html', 'downloads', 'Downloads')
							+iconListCellMix('', 'tips', 'Tips')
		.controlPanel
			.controlPanel__button
		.controlPanelPopup
			.controlPanelPopup__opacityLayer
			.controlPanelPopup__header
				i.fas.fa-angle-down.controlPanelPopup__closeButton
			.controlPanelPopup__content
				mixin controlPanelCircleIconsBoxMix(iconsBoxModificationClass, firstNameCircleIconMix, secondNameCircleIconMix, thirdNameCircleIconMix, fourthNameCircleIconMix)
					.controlPanelPopup__contentItem
						.controlPanelPopup__iconsBox(class=`${iconsBoxModificationClass}`)
							.controlPanelPopup__circleIconWrap
								.controlPanelPopup__circleIcon
									i(class=`${firstNameCircleIconMix}`)
							.controlPanelPopup__circleIconWrap
								.controlPanelPopup__circleIcon
									i(class=`${secondNameCircleIconMix}`)
							.controlPanelPopup__circleIconWrap
								.controlPanelPopup__circleIcon
									i(class=`${thirdNameCircleIconMix}`)
							.controlPanelPopup__circleIconWrap
								.controlPanelPopup__circleIcon
									i(class=`${fourthNameCircleIconMix}`)
				mixin controlPanelSingleIconBoxMix(iconsBoxModificationClass)
					.controlPanelPopup__contentItem
						.controlPanelPopup__iconsBox(class=`${iconsBoxModificationClass}`)
				mixin controlPanelTripleIconBoxMix(firstNameSquareIconMix, secondNameSquareIconMix, firstNameHorizontalIconMix, firstSquareIconClassMix, secondSquareIconClassMix, firstHorizontalIconClassMix)
					.controlPanelPopup__contentItem
						.controlPanelPopup__iconsBox
							.controlPanelPopup__squareIcon(class=`${firstSquareIconClassMix}`)
								i(class=`${firstNameSquareIconMix}`)
							.controlPanelPopup__squareIcon(class=`${secondSquareIconClassMix}`)
								i(class=`${secondNameSquareIconMix}`)
							.controlPanelPopup__horizontalIcon.controlPanelPopup__horizontalIcon_mgTop(class=`${firstHorizontalIconClassMix}`)
								i(class=`${firstNameHorizontalIconMix}`)
				mixin controlPanelVerticalIconBoxMix(firstNameVerticalIconMix, secondNameVerticalIconMix)
					.controlPanelPopup__contentItem
						.controlPanelPopup__iconsBox
							.controlPanelPopup__verticalIcon
								i(class=`${firstNameVerticalIconMix}`)
							.controlPanelPopup__verticalIcon
								i(class=`${secondNameVerticalIconMix}`)
				mixin controlPanelQuadrupleIconBoxMix(firstNameSquareIconMix, secondNameSquareIconMix, thirdNameSquareIconMix, fourthNameSquareIconMix, firstSquareIconClassMix)
					.controlPanelPopup__contentItem
						.controlPanelPopup__iconsBox
							.controlPanelPopup__squareIcon(class=`${firstSquareIconClassMix}`)
								i(class=`${firstNameSquareIconMix}`)
							.controlPanelPopup__squareIcon
								i(class=`${secondNameSquareIconMix}`)
							.controlPanelPopup__squareIcon
								i(class=`${thirdNameSquareIconMix}`)
							.controlPanelPopup__squareIcon
								i(class=`${fourthNameSquareIconMix}`)
				mixin controlPanelHorizontalIconBoxMix(firstNameHorizontalIconMix, secondNameHorizontalIconMix)
					.controlPanelPopup__contentItem
						.controlPanelPopup__iconsBox
							.controlPanelPopup__horizontalIcon
								i(class=`${firstNameHorizontalIconMix}`)
							.controlPanelPopup__horizontalIcon
								i(class=`${secondNameHorizontalIconMix}`)
				+controlPanelCircleIconsBoxMix('controlPanelPopup__iconsBox_borderRad controlPanelPopup__iconsBox_bg', 'fas fa-plane', 'fas fa-broadcast-tower', 'fas fa-wifi', 'fab fa-bluetooth-b')
				+controlPanelSingleIconBoxMix('controlPanelPopup__iconsBox_borderRad controlPanelPopup__iconsBox_bg')
				+controlPanelTripleIconBoxMix('fas fa-unlock', 'fas fa-moon', 'fas fa-desktop', 'js-controlPanelPopup__dragButton', '', 'js-controlPanelPopup__fullscreenButton')
				+controlPanelVerticalIconBoxMix('fas fa-sun', 'fas fa-volume-up')
				+controlPanelQuadrupleIconBoxMix('fas fa-lightbulb', 'fas fa-map-marker-alt', 'fas fa-calculator', 'fas fa-camera')
				+controlPanelQuadrupleIconBoxMix('far fa-image', 'far fa-clock', 'fab fa-apple', 'fas fa-car', 'js-controlPanelPopup__imgChoiceButton')
				+controlPanelHorizontalIconBoxMix('fab fa-apple-pay', 'fab fa-cc-visa')
				+controlPanelQuadrupleIconBoxMix('fas fa-search-plus', 'far fa-calendar-alt', 'far fa-dot-circle', 'fas fa-stopwatch')
				+controlPanelQuadrupleIconBoxMix('fas fa-battery-half', 'fas fa-globe', 'fas fa-cloud', 'far fa-address-card')
				+controlPanelQuadrupleIconBoxMix('far fa-edit', 'fas fa-fingerprint', 'fas fa-signal', 'fas fa-microphone', 'js-controlPanelPopup__delNameButton')
				+controlPanelQuadrupleIconBoxMix('fas fa-phone-slash', 'fas fa-comment', 'fas fa-video', 'fas fa-user')
				+controlPanelQuadrupleIconBoxMix('fas fa-clone', 'fas fa-share-alt', 'fas fa-route', 'fas fa-gamepad')
				+controlPanelVerticalIconBoxMix('fas fa-headphones-alt', 'fas fa-street-view')
				+controlPanelTripleIconBoxMix('fas fa-cog', 'fab fa-accusoft', 'fas fa-bezier-curve')
				+controlPanelQuadrupleIconBoxMix('fas fa-project-diagram', 'fas fa-bed', 'fas fa-database', 'fas fa-dna')
				+controlPanelQuadrupleIconBoxMix('fas fa-euro-sign', 'fab fa-fly', 'fas fa-folder', 'fab fa-google-drive')
				+controlPanelQuadrupleIconBoxMix('fas fa-layer-group', 'fas fa-solar-panel', 'fas fa-tablet', 'fas fa-assistive-listening-systems')
				+controlPanelHorizontalIconBoxMix('fas fa-braille', 'fab fa-btc')
				+controlPanelTripleIconBoxMix('fas fa-chart-pie', 'fab fa-hubspot', 'fas fa-inbox')
				+controlPanelQuadrupleIconBoxMix('fab fa-itunes-note', 'fas fa-pills', 'fas fa-podcast', 'fas fa-shield-alt')
				+controlPanelQuadrupleIconBoxMix('fab fa-staylinked', 'fas fa-th-list', 'fas fa-cubes', 'fab fa-nintendo-switch')
				+controlPanelVerticalIconBoxMix('fas fa-thermometer-full', 'fas fa-tint')
				+controlPanelQuadrupleIconBoxMix('fas fa-signal', 'fas fa-sliders-h', 'fab fa-soundcloud', 'fas fa-fire')
				+controlPanelQuadrupleIconBoxMix('fas fa-hdd', 'fas fa-laptop', 'fas fa-mobile-alt', 'far fa-save')
		.imgChoicePopup
			.imgChoicePopup__header
				i.fas.fa-angle-down.imgChoicePopup__closeButton
			.imgChoicePopup__content
				mixin imgChoiceItemMix(imgChoiceBgImgMix)
					.imgChoicePopup__contentItem
						.imgChoicePopup__img(class=`_bg_${imgChoiceBgImgMix}`)
				+imgChoiceItemMix('abstraction1')
				+imgChoiceItemMix('abstraction2')
				+imgChoiceItemMix('abstraction3')
				+imgChoiceItemMix('abstraction4')
				+imgChoiceItemMix('abstraction5')
				+imgChoiceItemMix('abstraction6')
				+imgChoiceItemMix('desert')
				+imgChoiceItemMix('eyedrops1')
				+imgChoiceItemMix('eyedrops2')
				+imgChoiceItemMix('eyedrops3')
				+imgChoiceItemMix('fish1')
				+imgChoiceItemMix('fish2')
				+imgChoiceItemMix('fish3')
				+imgChoiceItemMix('fish4')
				+imgChoiceItemMix('fish5')
				+imgChoiceItemMix('flower1')
				+imgChoiceItemMix('flower2')
				+imgChoiceItemMix('flower3')
				+imgChoiceItemMix('galaxy')
				+imgChoiceItemMix('inkBlast1')
				+imgChoiceItemMix('inkBlast2')
				+imgChoiceItemMix('inkBlast3')
				+imgChoiceItemMix('inkBlast4')
				+imgChoiceItemMix('inkBlast5')
				+imgChoiceItemMix('inkBlast6')
				+imgChoiceItemMix('moon')
				+imgChoiceItemMix('mountain1')
				+imgChoiceItemMix('mountain2')
				+imgChoiceItemMix('rainbow1')
				+imgChoiceItemMix('rainbow2')
				+imgChoiceItemMix('rainbowBlur1')
				+imgChoiceItemMix('rainbowBlur2')
				+imgChoiceItemMix('rainbowBlur3')
				+imgChoiceItemMix('rainbowBlur4')
				+imgChoiceItemMix('rainbowBlur5')
				+imgChoiceItemMix('rainbowHair')
				+imgChoiceItemMix('shore1')
				+imgChoiceItemMix('shore2')
				+imgChoiceItemMix('shore3')
				+imgChoiceItemMix('shore4')
				+imgChoiceItemMix('wave1')
				+imgChoiceItemMix('wave2')
				+imgChoiceItemMix('wave3')
				+imgChoiceItemMix('wave4')
				+imgChoiceItemMix('wave5')
				+imgChoiceItemMix('wave6')
		include template/scripts.pug